/* login.module.css */
.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3C5B6F;
    margin:-8px
  }
  
  .headerText{
    color:white
  }

  .form {
    padding: 20px;
    background: #153448;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .inputGroup {
    margin-bottom: 20px;
    color:white;
  }
  
  .input {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color:white;
  }
  
  .button {
    padding: 10px;
    background-color: #948979;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #DFD0B8;
  }
  
  @media (max-width: 600px) {
    .form {
      width: 90%;
      padding: 10px;
    }
  }
  